#input-view {
  position: absolute;
  bottom: 10px;
  left: 10px;


  .input-value {
    float: left;
    padding: 5px;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 16pt;

    outline: none;
    border: none;
    border-bottom: 1px solid black;
  }

  .input-button {
    margin: 0 2px;
    padding: 6px;
    width: 50px;
    float: left;

    font-size: 16pt;

    background: black;
    color: white;

    border: 2px solid black;
    border-radius: 5px;

    text-align: center;

    &:active {
      background: white;
      color: black;
    }
  }
}
