#rb-tree-view {
  .node {
    circle {
      stroke-width: 2px;
    }

    .red {
      fill: red;
      stroke: red;
    }

    .black {
      fill: black;
      stroke: black;
    }

    text {
      font-family: Helvetica, Arial, sans-serif;
      fill: white;
    }
  }

  .link {
    fill: none;
    stroke: black;
    stroke-width: 2px;
  }
}
