/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "partials/base";

@import "partials/input-view";
@import "partials/linked-list";
@import "partials/binary-tree";
@import "partials/red-black-tree";
@import "partials/binary-heap";
@import "partials/graph";
@import "partials/text";

a {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 0 7px;
}

a + a {
  border-left: 1px solid #ccc;
}

.nav {
  position: absolute;
  padding-top: 10px;
}
