/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "input-view";
@import "linked-list";
@import "binary-tree";
@import "red-black-tree";
@import "graph";

a {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: middle;
  padding: 0 7px;
}

a + a {
  border-left: 1px solid #ccc;
}

.nav {
  padding-top: 10px;
}
