<div class="container">
  <div class="title">
    <h1>Testing test hello, blah blah</h1>
    <hr>
  </div>

  <div class="row">
    <div class="binary-tree view" id="binary-tree-00"></div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2>Header</h2>
      <p><em><strong>Lorem ipsum</strong> dolor sit amet</em>, consectetur adipisicing elit, sed do eiusmod tempor <strong>incididunt</strong> ut labore et dolore magna aliqua. Ut enim ad <strong>minim veniam</strong>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="col-lg-4">
      <h2>Header</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="col-lg-4">
      <h2>Header</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div class="row">
    <div class="graph view" id="graph-00"></div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <h2>Another header</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-lg-4 note">
      <h4>One more title</h4>
      <p>
        <em>
          <small>Given the ramifications of the latest experiment, we can take command of various dynamic high-income, it is his genuine meta-backstory.
          </small>
        </em>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <blockquote>
        <h4>This is a quote.</h4>
        <small>This person said that quote.</small>
      </blockquote>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="col-lg-4 note">
      <p>
        <em>
          <small>
            Here is another note positioned to the right of this paragraph.
          </small>
        </em>
      </p>
    </div>

  </div>

  <div class="row">
    <div class="list small-view" id="list-00"></div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <pre class="line-numbers">
        <code class="language-javascript">function Tree() {
          this.root = null;
        }</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <pre class="line-numbers">
        <code class="language-javascript">function TreeNode() {
          this.data = null;

          // References to other TreeNodes.
          this.parent = null;
          this.left = null;
          this.right = null;
        }</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <pre class="line-numbers">
        <code class="language-javascript">TreeNode.prototype.transplant = function(tree, node) {
          var parent = this.parent;

          if (!parent) {
            tree.root = node;
          } else if (this === parent.left) {
            parent.left = node;
          } else {
            parent.right = node;
          }

          if (node) {
            node.parent = parent;
          }
        };</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <pre class="line-numbers">
        <code class="language-javascript">Tree.prototype.insert = function(node) {
          var current = this.root;
          var parent;

          while (current) {
            parent = current;
            if (node.data < current.data) {
              current = current.left;
            } else {
              current = current.right;
            }
          }

          node.parent = parent;
          if (!parent) {
            this.root = node;
          } else if (node.data < parent.data) {
            parent.left = node;
          } else {
            parent.right = node;
          }
        };</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <pre class="line-numbers">
        <code class="language-javascript">Tree.prototype.delete = function(node) {
          if (!node.left) {
            node.transplant(this, node.right);
          } else if (!node.right) {
            node.transplant(this, node.left);
          } else {
            var next = node.right.min();
            if (next.parent !== node) {
              next.transplant(this, next.right);
              next.right = node.right;
              next.right.parent = next;
            }

            node.transplant(this, next);
            next.left = left;
            left.parent = next;
          }
        };</code></pre>
    </div>
  </div>

</div>

<footer>
  <div class="container">
    <p>Placeholder text.</p>
  </div>
</footer>
