<div class="container">
  <div class="title">
    <h1>What about linked lists?</h1>
    <hr>
  </div>

  <div class="row">
    <div class="list small-view" id="list-00"></div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <h2>Header</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, sequi, at, voluptates, cumque vitae error a illo cupiditate aut non molestias fugit iste ab distinctio iusto saepe laboriosam labore officia ipsum consequuntur perferendis sed eum eius esse sunt corporis placeat commodi harum possimus officiis. Ut, nisi eos eaque dolor voluptatibus odit hic officia dolores explicabo expedita quasi rem fuga officiis. Sed, nulla, quasi, deleniti, corporis quas quidem facere dolore cupiditate unde cumque est odit doloribus. Quaerat, quae, magnam quod tempore laboriosam sunt consequatur nulla possimus fugiat impedit suscipit et ullam corporis enim aperiam incidunt eligendi fuga iusto rerum voluptates consequuntur!</p>
    </div>

    <div class="col-lg-4 note">
      <h4>Hey there!</h4>
      <p><em><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, laborum, suscipit, odit, tenetur impedit accusamus consectetur asperiores molestias dolor voluptas quae illo dolorem pariatur itaque corporis quis minima ipsum earum!</small></em></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <pre class="line-numbers">
        <code class="language-javascript">for (var i = 0; i < 10; i++) { return i; }
         i++;
         if (i + 10 > 20) {
           console.log('hello world');
         }</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <pre class="line-numbers">
        <code class="language-css">p { color: red }</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <pre class="line-numbers">
        <code class="language-javascript">function ListNode() {
          this.data = null;

          // References to other ListNodes.
          this.prev = null;
          this.next = null;
        }</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <pre class="line-numbers">
        <code class="language-javascript">function List() {
          // Reference to the start of the list.
          this.head = null;
        }</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <pre class="line-numbers">
        <code class="language-javascript">List.prototype.insert = function(node) {
          node.next = this.head;
          if (this.head) {
            this.head.prev = node;
          }

          this.head = node;
          node.prev = null;
        };</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <pre class="line-numbers">
        <code class="language-javascript">List.prototype.delete = function(node) {
          if (node.prev) {
            node.prev.next = node.next;
          } else {
            this.head = node.next;
          }

          if (node.next) {
            node.next.prev = node.prev;
          }
        };</code></pre>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <pre class="line-numbers">
        <code class="language-javascript">List.prototype.search = function(value) {
          var current = this.head;

          while (current && current.data !== value) {
            current = current.next;
          }

          return current;
        };</code></pre>
    </div>
  </div>

</div>

<footer>
  <div class="container">
    <p>Copyright 20XX.</p>
  </div>
</footer>
