/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.node {
  circle {
    fill: white;
    stroke: black;
    stroke-width: 2px;
  }

  text {
    font-family: Helvetica, Arial, sans-serif;
    fill: black;
  }
}

.link {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}


#input-view {
  position: absolute;
  bottom: 10px;
  left: 10px;

  .input-value {
    float: left;
    padding: 5px;

    font-size: 16pt;

    outline: none;
    border: none;
    border-bottom: 1px solid black;
  }

  .input-button {
    margin: 0 2px;
    padding: 6px;
    width: 50px;
    float: left;

    font-size: 16pt;

    background: black;
    color: white;

    border: 2px solid black;
    border-radius: 5px;

    text-align: center;

    &:active {
      background: white;
      color: black;
    }
  }
}
