.array {
  table {
    width: auto;
    height: auto;
  }

  .node {
    border: 2px solid $light-gray;
    width: 30px;
    height: 30px;
    text-align: center;
  }

  text {
    color: $light-gray;
  }
}
