.binary-heap-view {
  @extend .tree-view;
}

.heap-input-view {
  @extend .input-view;

  .pop {
    width: 70px;
  }

  .popped-value {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;

    span {
      position: absolute;
      margin-left: 2px;
      bottom: 0;

      width: 150px;

      text-align: left;
    }
  }
}
