.graph {
  .node {
    circle {
      fill: white;
      stroke: $light-gray;
      stroke-width: $line-width;
    }

    text {
      font-family: Helvetica, Arial, sans-serif;
      fill: $light-gray;
    }
  }

  line {
    fill: none;
    stroke: $light-gray;
    stroke-width: $line-width;
  }
}
