#input-view {
  position: absolute;
  bottom: $padding;
  left: $padding;

  .input-value {
    float: left;
    padding: 0.5 * $padding;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 16pt;

    outline: none;
    border: none;
    border-bottom: 1px solid $dark-gray;
  }

  .input-button {
    margin: 0 2px;
    padding: 6px;
    width: 50px;
    float: left;

    font-size: 16pt;

    background: $dark-gray;
    color: white;

    outline: none;
    border: $line-width solid $dark-gray;
    border-radius: 5px;

    text-align: center;

    &:active {
      background: white;
      color: $dark-gray;
    }
  }
}
