#list-view {
  .node {
    rect {
      fill: white;
      stroke: $light-gray;
      stroke-width: $line-width;

    }

    text {
      font-family: Helvetica, Arial, sans-serif;
      fill: $light-gray;
    }
  }

  .link {
    fill: none;
    stroke: $light-gray;
    stroke-width: $line-width;
  }
}
