// sass partial for text based files.
p {
  font-family: "chaparral-pro", Georgia, Cambria, serif;
  font-weight: 400;
  font-size: 20px;
  color: #444;
  line-height: 1.4;
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "raleway", Helvetica, Arial, sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

.note h4 {
  margin-top: 0;
}

.title {
  text-align: center;
  margin-top: 75px;

  h1 {
    font-size: 64px;
    line-height: 1.1;
  }
}

/* Taken from Twitter Bootstrap's website. */
footer {
  margin-top: 70px;
  padding: 40px;
  border-top: 1px solid #eee;
  background: #f5f5f5;

  p {
    color: #777;
  }
}

// Hack to ensure Raleway displays correctly on Firefox.
@-moz-document url-prefix() {
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
}

.view {
  height: 15em;
  border: 1px solid #ddd;
}

.large-view {
  @extend .view;
  height: 20em;
}

// No border for small views.
.small-view {
  height: 10em;
}
