/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_input-view.scss */
#input-view {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
/* line 7, ../sass/_input-view.scss */
#input-view .input-value {
  float: left;
  padding: 5px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16pt;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
/* line 19, ../sass/_input-view.scss */
#input-view .input-button {
  margin: 0 2px;
  padding: 6px;
  width: 50px;
  float: left;
  font-size: 16pt;
  background: black;
  color: white;
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}
/* line 36, ../sass/_input-view.scss */
#input-view .input-button:active {
  background: white;
  color: black;
}

/* line 3, ../sass/_linked-list.scss */
#list-view .node rect {
  fill: white;
  stroke: black;
  stroke-width: 2px;
}
/* line 10, ../sass/_linked-list.scss */
#list-view .node text {
  font-family: Helvetica, Arial, sans-serif;
  fill: black;
}
/* line 16, ../sass/_linked-list.scss */
#list-view .link {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

/* line 3, ../sass/_binary-tree.scss */
#tree-view .node circle, #binary-heap-view .node circle {
  fill: white;
  stroke: black;
  stroke-width: 2px;
}
/* line 10, ../sass/_binary-tree.scss */
#tree-view .node text, #binary-heap-view .node text {
  font-family: Helvetica, Arial, sans-serif;
  fill: black;
}
/* line 17, ../sass/_binary-tree.scss */
#tree-view .delete-overlay circle, #binary-heap-view .delete-overlay circle {
  fill: black;
}
/* line 21, ../sass/_binary-tree.scss */
#tree-view .delete-overlay text, #binary-heap-view .delete-overlay text {
  fill: white;
}
/* line 26, ../sass/_binary-tree.scss */
#tree-view .link, #binary-heap-view .link {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

/* line 3, ../sass/_red-black-tree.scss */
#rb-tree-view .node circle {
  stroke-width: 2px;
}
/* line 7, ../sass/_red-black-tree.scss */
#rb-tree-view .node text {
  font-family: Helvetica, Arial, sans-serif;
  fill: white;
}
/* line 13, ../sass/_red-black-tree.scss */
#rb-tree-view .link {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

/* line 3, ../sass/_graph.scss */
#graph-view .node circle {
  fill: white;
  stroke: black;
  stroke-width: 2px;
}
/* line 9, ../sass/_graph.scss */
#graph-view .node text {
  font-family: Helvetica, Arial, sans-serif;
  fill: black;
}
/* line 15, ../sass/_graph.scss */
#graph-view line {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

/* line 15, ../sass/screen.scss */
a {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: middle;
  padding: 0 7px;
}

/* line 23, ../sass/screen.scss */
a + a {
  border-left: 1px solid #ccc;
}

/* line 27, ../sass/screen.scss */
.nav {
  padding-top: 10px;
}
