/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/partials/_input.scss */
.input {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
/* line 6, ../sass/partials/_input.scss */
.input .input-value {
  float: left;
  padding: 5px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16pt;
  outline: none;
  border: none;
  border-bottom: 1px solid #222222;
}
/* line 18, ../sass/partials/_input.scss */
.input .input-button {
  margin: 0 2px;
  padding: 6px;
  width: 50px;
  float: left;
  font-size: 16pt;
  background: #222222;
  color: white;
  outline: none;
  border: 2px solid #222222;
  border-radius: 5px;
  text-align: center;
}
/* line 35, ../sass/partials/_input.scss */
.input .input-button:active {
  background: white;
  color: #222222;
}

/* line 2, ../sass/partials/_array.scss */
.array table {
  width: auto;
  height: auto;
  counter-reset: index -1;
}
/* line 9, ../sass/partials/_array.scss */
.array .node {
  border: 2px solid #555555;
  width: 30px;
  height: 30px;
  text-align: center;
  counter-increment: index;
}
/* line 17, ../sass/partials/_array.scss */
.array .node:before {
  content: counter(index);
  position: absolute;
  display: block;
  top: 60px;
  width: 30px;
  color: #aaaaaa;
}
/* line 30, ../sass/partials/_array.scss */
.array text {
  color: #555555;
}

/* line 3, ../sass/partials/_linked-list.scss */
.list .node rect {
  fill: white;
  stroke: #555555;
  stroke-width: 2px;
}
/* line 9, ../sass/partials/_linked-list.scss */
.list .node text {
  font-family: Helvetica, Arial, sans-serif;
  fill: #555555;
}
/* line 15, ../sass/partials/_linked-list.scss */
.list .link {
  fill: none;
  stroke: #555555;
  stroke-width: 2px;
}

/* line 3, ../sass/partials/_tree.scss */
.tree .node circle, .binary-tree .node circle, .binary-heap .node circle {
  fill: white;
  stroke: #555555;
  stroke-width: 2px;
}
/* line 9, ../sass/partials/_tree.scss */
.tree .node text, .binary-tree .node text, .binary-heap .node text {
  font-family: Helvetica, Arial, sans-serif;
  fill: #555555;
}
/* line 15, ../sass/partials/_tree.scss */
.tree .link, .binary-tree .link, .binary-heap .link {
  fill: none;
  stroke: #555555;
  stroke-width: 2px;
}

/* line 5, ../sass/partials/_binary-tree.scss */
.binary-tree .delete-overlay circle {
  fill: #555555;
}
/* line 9, ../sass/partials/_binary-tree.scss */
.binary-tree .delete-overlay text {
  fill: white;
}

/* line 3, ../sass/partials/_red-black-tree.scss */
.rb-tree .node text {
  font-family: Helvetica, Arial, sans-serif;
  fill: white;
}
/* line 9, ../sass/partials/_red-black-tree.scss */
.rb-tree .link {
  fill: none;
  stroke: #222222;
  stroke-width: 2px;
}

/* line 6, ../sass/partials/_binary-heap.scss */
.input.heap .pop {
  width: 70px;
}
/* line 10, ../sass/partials/_binary-heap.scss */
.input.heap .popped-value {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}
/* line 14, ../sass/partials/_binary-heap.scss */
.input.heap .popped-value span {
  position: absolute;
  margin-left: 2px;
  bottom: 0;
  width: 150px;
  text-align: left;
}

/* line 3, ../sass/partials/_graph.scss */
.graph .node circle, .digraph .node circle {
  fill: white;
  stroke: #555555;
  stroke-width: 2px;
}
/* line 9, ../sass/partials/_graph.scss */
.graph .node text, .digraph .node text {
  font-family: Helvetica, Arial, sans-serif;
  fill: #555555;
}
/* line 15, ../sass/partials/_graph.scss */
.graph line, .digraph line {
  fill: none;
  stroke: #555555;
  stroke-width: 2px;
}

/* line 4, ../sass/partials/_digraph.scss */
.digraph marker path {
  fill: #555555;
}

/* line 2, ../sass/partials/_text.scss */
p {
  font-family: "chaparral-pro", Georgia, Cambria, serif;
  font-weight: 400;
  font-size: 20px;
  color: #444;
  line-height: 1.4;
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased;
}

/* line 12, ../sass/partials/_text.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "raleway", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 17, ../sass/partials/_text.scss */
.note h4 {
  margin-top: 0;
}

/* line 21, ../sass/partials/_text.scss */
.jumbotron {
  text-align: center;
  margin-top: 75px;
}
/* line 25, ../sass/partials/_text.scss */
.jumbotron h1 {
  font-size: 64px;
  line-height: 1.1;
}

/* Taken from Twitter Bootstrap's website. */
/* line 32, ../sass/partials/_text.scss */
footer {
  margin-top: 70px;
  padding: 40px;
  border-top: 1px solid #eee;
  background: #f5f5f5;
}
/* line 38, ../sass/partials/_text.scss */
footer p {
  color: #777;
}

@-moz-document url-prefix() {
  /* line 45, ../sass/partials/_text.scss */
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
}

/* line 50, ../sass/partials/_text.scss */
.view, .large-view {
  height: 15em;
  border: 1px solid #ddd;
}

/* line 55, ../sass/partials/_text.scss */
.large-view {
  height: 20em;
}

/* line 61, ../sass/partials/_text.scss */
.small-view {
  height: 10em;
}

/* line 19, ../sass/screen.scss */
a {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 0 7px;
}

/* line 27, ../sass/screen.scss */
a + a {
  border-left: 1px solid #ccc;
}

/* line 31, ../sass/screen.scss */
.nav {
  position: absolute;
  padding-top: 10px;
}

/* line 36, ../sass/screen.scss */
.full, .padded {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* line 45, ../sass/screen.scss */
.padded {
  top: 50px;
  right: 50px;
  bottom: 50px;
  left: 50px;
}

/* line 54, ../sass/screen.scss */
pre.line-numbers {
  padding-left: 0;
}
