/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/partials/_input-view.scss */
.input-view, .heap-input-view {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
/* line 6, ../sass/partials/_input-view.scss */
.input-view .input-value, .heap-input-view .input-value {
  float: left;
  padding: 5px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16pt;
  outline: none;
  border: none;
  border-bottom: 1px solid #222222;
}
/* line 18, ../sass/partials/_input-view.scss */
.input-view .input-button, .heap-input-view .input-button {
  margin: 0 2px;
  padding: 6px;
  width: 50px;
  float: left;
  font-size: 16pt;
  background: #222222;
  color: white;
  outline: none;
  border: 2px solid #222222;
  border-radius: 5px;
  text-align: center;
}
/* line 35, ../sass/partials/_input-view.scss */
.input-view .input-button:active, .heap-input-view .input-button:active {
  background: white;
  color: #222222;
}

/* line 3, ../sass/partials/_linked-list.scss */
.list-view .node rect {
  fill: white;
  stroke: #555555;
  stroke-width: 2px;
}
/* line 10, ../sass/partials/_linked-list.scss */
.list-view .node text {
  font-family: Helvetica, Arial, sans-serif;
  fill: #555555;
}
/* line 16, ../sass/partials/_linked-list.scss */
.list-view .link {
  fill: none;
  stroke: #555555;
  stroke-width: 2px;
}

/* line 3, ../sass/partials/_binary-tree.scss */
.tree-view .node circle, .binary-heap-view .node circle {
  fill: white;
  stroke: #555555;
  stroke-width: 2px;
}
/* line 9, ../sass/partials/_binary-tree.scss */
.tree-view .node text, .binary-heap-view .node text {
  font-family: Helvetica, Arial, sans-serif;
  fill: #555555;
}
/* line 16, ../sass/partials/_binary-tree.scss */
.tree-view .delete-overlay circle, .binary-heap-view .delete-overlay circle {
  fill: #555555;
}
/* line 20, ../sass/partials/_binary-tree.scss */
.tree-view .delete-overlay text, .binary-heap-view .delete-overlay text {
  fill: white;
}
/* line 25, ../sass/partials/_binary-tree.scss */
.tree-view .link, .binary-heap-view .link {
  fill: none;
  stroke: #555555;
  stroke-width: 2px;
}

/* line 3, ../sass/partials/_red-black-tree.scss */
.rb-tree-view .node text {
  font-family: Helvetica, Arial, sans-serif;
  fill: white;
}
/* line 9, ../sass/partials/_red-black-tree.scss */
.rb-tree-view .link {
  fill: none;
  stroke: #222222;
  stroke-width: 2px;
}

/* line 8, ../sass/partials/_binary-heap.scss */
.heap-input-view .pop {
  width: 70px;
}
/* line 12, ../sass/partials/_binary-heap.scss */
.heap-input-view .popped-value {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
}
/* line 16, ../sass/partials/_binary-heap.scss */
.heap-input-view .popped-value span {
  position: absolute;
  margin-left: 2px;
  bottom: 0;
  width: 150px;
  text-align: left;
}

/* line 3, ../sass/partials/_graph.scss */
.graph-view .node circle {
  fill: white;
  stroke: #555555;
  stroke-width: 2px;
}
/* line 9, ../sass/partials/_graph.scss */
.graph-view .node text {
  font-family: Helvetica, Arial, sans-serif;
  fill: #555555;
}
/* line 15, ../sass/partials/_graph.scss */
.graph-view line {
  fill: none;
  stroke: #555555;
  stroke-width: 2px;
}

/* line 2, ../sass/partials/_text.scss */
p {
  font-family: "chaparral-pro", Georgia, Cambria, serif;
  font-weight: 400;
  font-size: 20px;
  color: #444;
  line-height: 1.4;
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased;
}

/* line 12, ../sass/partials/_text.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "raleway", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 17, ../sass/partials/_text.scss */
.note h4 {
  margin-top: 0;
}

/* line 21, ../sass/partials/_text.scss */
.jumbotron {
  text-align: center;
  margin-top: 75px;
}
/* line 25, ../sass/partials/_text.scss */
.jumbotron h1 {
  font-size: 64px;
  line-height: 1.1;
}

/* Taken from Twitter Bootstrap's website. */
/* line 32, ../sass/partials/_text.scss */
footer {
  margin-top: 70px;
  padding: 40px;
  border-top: 1px solid #eee;
  background: #f5f5f5;
}
/* line 38, ../sass/partials/_text.scss */
footer p {
  color: #777;
}

@-moz-document url-prefix() {
  /* line 45, ../sass/partials/_text.scss */
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
}

/* line 16, ../sass/screen.scss */
a {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 0 7px;
}

/* line 24, ../sass/screen.scss */
a + a {
  border-left: 1px solid #ccc;
}

/* line 28, ../sass/screen.scss */
.nav {
  position: absolute;
  padding-top: 10px;
}
